<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <li><a href="/users/all">Go to Users</a></li>
      <li><a href="/products/all">Go to Products</a></li>
      <li><a href="/carts/all">Go to Carts</a></li>
      <li><a href="/categories">Go to Categories</a></li>
      <li><a href="/brands">Go to Brands</a></li>
    </ul>
  </body>
</html>
